#root {
    height: 100vh;
}

body {
   min-height: 100vh;
    background-size: cover;
}

.dark {
    background-color: #3e3e3e;
    color: white;
}

.light {
    background-color: #f0f2ef;
    color: #1e1f22;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    height: 40px;
}

button {
    cursor: pointer;
    padding: 5px;
}

.App {
    min-height: 100vh;
    padding: 20px;
}

div input {
    margin-bottom: 20px;
}
ul {
    list-style: none;
}

li {
    padding: 10px;
}

li button {
    margin-top: 10px;
}



